h1 {
    color: White;
    font-family:"Times New Roman";
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
}
 
body {
    background-color: Black;
}

#Column1, #Column2 {
    float: left;
    height: 190vh;
    background-color: #D3D3D3;
}

#Column1 {
    width: 20%;
    margin-right: 10px;
    padding-left: 10px;
}

#Column2 {
    width: 78%;
}

#NF1 {
   width: 240px;
}

#NF2 {
  width: 486px;
}

#CriminalMinds {
  width: 250px;
}

#LawAndOrderSVU {
  width: 444px;
}

#ChicagoMed {
  width: 250px;
}

#CodeBlack {
  width: 250px;
}
